@charset "UTF-8"

*{ 
    font-family: Arial, Helvetica, sans-serif;

}

body {  background-image: linear-gradient(to right, #2d82b7,#07004d );

}
main{
    border-radius:20px ;
    background-color: white;
    box-shadow: 5px 5px 15px #ffffff8f;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 { color: #243010;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {color: #42e2b8;}

p {
    text-align: justify;

    }